
nav a.menu-tap {
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 25px;
}
nav a.menu-tap--selected{
  color : #e6e2e2;
  text-decoration: none;
}
.nav_menu{
  display:flex;
  flex-direction: row;
  position:relative;
  left:60%;
}
.menu-tap{
  padding: 50px;
}
li { list-style-type : none; }
div.menu-tap_wrap{
    padding: 10px;
}
